.chatDetailsWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chatDetailsWrapper .chatDetailsHeader {
  height: 80px;
  flex-grow: 0;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  z-index: 3;
  flex-shrink: 0;
  /* 0px 0px 8px rgba(137, 137, 137, 0.5); */
}

.chatDetailsHeader .headerProfileDetails {
  flex-grow: 1;
}

.chatDetailsHeader {
  padding: 0px 15px;
}

.chatDetailsHeader .headerProfileDetails {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
  margin-left: 15px;
  /* background-color: red; */
}

.chatDetailsHeader .headerProfileDetails .username {
  font-size: 20px;
  font-weight: bold;
}

.chatDetailsHeader .headerProfileDetails .activityStatus {
  font-size: 15px;
  color: gray;
  /* font-weight: bold; */
}

.chatDetailsHeader .headerOptions {
  font-size: 30px;
  color: gray;
  margin-right: 20px;
}

.chatDetailsHeader .headerProfileImg img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.chatDetailsWrapper .chatDetailsMain {
  flex-grow: 1;
}

.chatDetailsMain::-webkit-scrollbar {
  width: 5px;
}

.chatDetailsMain::-webkit-scrollbar-thumb {
  background-color: #57039a;
  border-radius: 10px;
  /* outline: 1px solid slategrey; */
}

.chatDetailsWrapper .chatDetailsFooter {
  flex-grow: 0;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e4e4e4;
  box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.chatDetailsMain {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  padding: 0px 10px;
  /* height: calc(100vh - 140px); */
  height: 100%;
  overflow-y: scroll;
}

.chatDetailsFooter .messageInput {
  margin-right: 20px;
  width: 90%;
  height: 100%;
}

.chatDetailsFooter .sendButton {
  font-size: 50px;
  color: #57039a;
  /* background-color: red; */
  width: 50px;
  text-align: center;
  border-radius: 50%;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.chatDetailsFooter .sendButton:hover {
  color: #ebd4fd;
  background-color: #57039a;
}

.chatDetailsFooter .messageInput {
  display: flex;
  align-items: center;
  position: relative;
}

.chatDetailsFooter .messageInput input {
  width: 100%;
  height: 70%;
  padding-left: 55px;
  box-shadow: 0px 1px 1px rgb(255 25 25 / 8%) inset,
    0px 0px 8px rgba(140, 140, 140, 0.5);
}

.chatDetailsFooter .messageInput input:focus {
  /* border-color: rgb(210 210 210 / 50%); */
  border-color: #56039a3a;
  box-shadow: 0px 1px 1px rgb(255 25 25 / 8%) inset,
    0px 0px 8px rgba(140, 140, 140, 0.5);
}

.messageInput i {
  position: absolute;
  left: 20px;
  font-size: 25px;
  color: gray;
  cursor: pointer;
}

.messageInput i:hover {
  color: black;
}
