.navbarChat {
  background-color: white;
  /* background-color: #fefef1; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid rgb(228, 228, 228);
  /* border-right: 3px solid #57039a; */
}

.logo {
  font-size: 40px;
  color: #57039a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  position: relative;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.profile img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  /* border: 3px solid #57039a; */
  cursor: pointer;
}

.profile .activeStatus {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 43px;
  right: 5px;
}

.online {
  background-color: rgb(0, 173, 0);
}

.offline {
  background-color: red;
}

.navItems,
.extraNavItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navItem {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  font-size: 24px;
  color: #57039a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 25px;
  background-color: #ebd4fd;
}

.navItem:hover {
  /* color: #fefef1; */
  /* font-size: 23px; */
  color: white;
  background-color: #57039a;
}

.navItemActive {
  color: #fefef1;
  background-color: #57039a;
}

.extraNavItems .navItem {
  background-color: white;
  /* color: rgb(103, 102, 102); */
}

.extraNavItems .navItem:hover {
  background-color: #57039a;
  color: white;
}
